dbt-core==1.8.6
dbt-postgres==1.8.2

# synapse
dbt-sqlserver
synapseclient


pandas
openpyxl
protobuf==4.25.3 # dbt core and adapters require version <5.0.0

git+https://github.com/NIH-NCPI/pipeline-utils.git@main#egg=dbt_pipeline_utils
